<div class="px-2 pt-2 pb-1 my-3 text-white rounded-xl bg-green-400/20">
    {{ body | markdown | safe }}

    <hr class="mt-3 mb-1.5 opacity-30">

    <p class="text-base">
        Source: <a href="{{ source_link | safe }}">{{ source }}</a>
    </p>
</div>
