<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            {%- block title -%}
                {%- if page.title -%}
                    {{- page.title -}}
                {%- elif section.title -%}
                    {{- section.title -}}
                {%- else -%}
                    {{- config.title -}}
                {%- endif -%}
            {%- endblock -%}
        </title>

        <meta name="description"
              content="{%- block description -%}{%- if page.description -%}{{- page.description -}}{%- elif section.description -%}{{- section.description -}}{%- else -%}{{- config.description -}}{%- endif -%}{%- endblock -%}">

        <link rel="icon"
              type="image/x-icon"
              href="{{ get_url(path=config.extra.logo_path) | safe }}?v={{ now(timestamp=true) }}" />

        <link href="{{ get_url(path='main.css') | safe }}?v={{ now(timestamp=true) }}"
              rel="stylesheet" />

        <link rel="alternate"
              type="application/atom+xml"
              title="Blog | mo8it.com"
              href="{{ get_url(path='atom.xml') | safe }}" />
    </head>

    <body class="flex flex-col p-3 mx-auto min-h-screen text-lg text-gray-100 break-words bg-gray-900 lg:px-5 2xl:container">
        <header class="flex gap-x-6 items-center py-2 px-2.5 mb-1 bg-gray-800 rounded-full">
            <a class="transition duration-500 hover:scale-110"
               href="{{ get_url(path='/') | safe }}">
                <img class="w-12 h-12 rounded-full"
                     src="{{ get_url(path=config.extra.logo_path) | safe }}" />
            </a>

            <nav class="flex gap-x-5 items-center font-bold">
                {% for menu_item in config.extra.menu_items %}
                    <a class="p-1 no-underline transition duration-500 hover:scale-105"
                       href="{{ menu_item.url | safe }}">{{ menu_item.name }}</a>
                {% endfor %}
            </nav>
        </header>

        <main class="leading-relaxed">
            {% block content %}{% endblock %}
        </main>

        <footer class="pt-2 pb-3 mt-auto">
            <img class="mx-auto w-20 h-20"
                 src="{{ get_url(path='images/happy_ferris.svg') | safe }}" />

            <nav class="flex flex-col gap-y-3 justify-around py-3 text-center bg-gray-800 rounded sm:flex-row sm:rounded-full">
                {% for footer_item in config.extra.footer_items %}
                    <a class="text-sm no-underline" href="{{ footer_item.url | safe }}">{{ footer_item.name }}</a>
                {% endfor %}
            </nav>
        </footer>
    </body>
</html>
