{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}
    <article>
        <div class="mb-3">
            <h1>{{ page.title }}</h1>

            {{ macros::post_metadata(page=page) }}
        </div>

        {{ page.content | replace(from="<!-- toc -->", to=macros::toc()) | safe  }}
    </article>

    {% if page.lower or page.higher %}
        <nav class="flex flex-col gap-y-3 mt-8">
            {% if page.lower %}{{ macros::btn(link=page.lower.permalink, text="Earlier post: " ~ page.lower.title) }}{% endif %}
            {% if page.higher %}{{ macros::btn(link=page.higher.permalink, text="Later post: " ~ page.higher.title) }}{% endif %}
        </nav>
    {% endif %}

    <section class="mt-8 text-base text-center">
        <p>
            You can suggest improvements on the <a href="https://codeberg.org/mo8it/website/src/branch/main/content/blog">website's repository</a>
        </p>
        <p>
            Content license: <a href="https://creativecommons.org/licenses/by-nc-sa/4.0">CC BY-NC-SA 4.0</a>
        </p>
    </section>

    {#- Validation -#}
    {%- if not page.draft -%}
        {%- if not page.description -%}
            {{- throw(message="Missing description!") -}}
        {%- elif not page.summary -%}
            {{- throw(message="Missing summary") -}}
        {%- endif %}
    {%- endif %}
{% endblock %}
